body {
    background-image:url(../assets/img/pcpic.jpg) ;
    background-size: cover;
}

html, body { overflow-x: hidden; }

/* /////////////navbar */

.navbar {
    
    background: linear-gradient(90deg, rgba(29,27,27,1) 0%, rgba(87,75,89,1) 30%, rgba(20,18,18,0.9542191876750701) 98%);
    font-family: 'Times New Roman', Times, serif;
}

.nav-item {
    color: white;
}


.logo {
    height: 3rem;
}


/* ////////////about me */

.about-container{
margin-top: 20%;
}

.main {
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(249, 249, 250, 0.705) 0%, rgba(255, 192, 192, 0.596) 30%, rgba(183, 185, 255, 0.781) 98%);   
}

.heading-about {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.face {
    border-radius: 50%;
}

.main-text {
    font-size: x-large;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
    font-family: 'Playfair Display', serif;
    
}
@media (max-width: 550px) {
    
    
    .face {
        height: 250px;
        width: 260px;
        margin: 0 auto;
     
    }
    
    .heading-about {
        margin: 0 auto;
    }

    .main-text  { 
        font-size: large;
    }
   
}


/* ////////////contacts */

.contacts-wrapper {
    margin-top: 10%;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(253, 253, 253) 100%);
  
}

.contacts-heading,
.emailLabel,
.text-label {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
    font-family: 'Playfair Display', serif;
    
}

.contacts-heading {
   height: 10vh;
   font-family: 'Playfair Display', serif;
   font-style: italic;
    
  
}

.github {
    background-image: url(./img/GitHub-Mark-64px.png);
    background-size: cover;
    transform: translateY(-20px);
    transform: translateX(40px);
    width: 60px;
    height: 60px;

}

.linked {
    background-image: url(./img/LI-Logo.png);
    background-size: cover;
    transform: translateY(-60px);
    width: 167px;
    height: 40px;
}

@media (max-width:750px) {
    .contacts-wrapper {
        height: auto;
        margin-top: 0;
    }
   .contacts-main {
       flex-direction: column;
    }

    .contacts-heading {
        margin-top: 20;
    }

   .github {
       transform: translateX(-15px);
       transform: translateY(30px);
       height: 60px;
   }

   .linked {
       transform: translateY(0px);
   }

   .links {
      height: 40vh;
      align-items: center;
      
   }

   .emailLabel {
       transform: translateX(15px);
   }
}

/* ////////////////My work */

.heading-work {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.45);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    
}

.cardholder {
    margin-top: 8%;
  
    
}

.card {
    width: 30%;
    height: 40vh;
   
   
}

.card1,
.card2,
.card3 {
    background-size: cover;
}


.card1{
    background-image: url(./img/prework.png);
}

.card2 {
  background-image: url(./img/coderefactor.jpg);
}

@media (max-width: 750px) { 
  .cardholder {
      flex-direction: column;
      align-items: center;   
  }

  .card {
      width: 75%;
      margin-top: 1.5rem;
      height: 60vh;
  }
 }






 /* /////////////////////////presentation */

 .presentation {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:rgba(8, 8, 24, 0.904);
    display: flex;
    flex-direction: column;
    animation: disap 1.5s ease 3s normal forwards 1; 
}

@keyframes disap {from{opacity: 1;}
to{
opacity: 0;}
}

.slideIn {
    font-size: 5rem;
    position: absolute;
    animation-name: hide, slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    opacity: 1;
   
    
}

@keyframes hide {
    from { opacity: 0; }
     to { opacity: 0 }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform:translateX(200px);
     }
     
     80% {
         transform: translateX(-7px);
     }
 
     100% {
         opacity: 1;
         transform: translate(0)
     }
 }

.first,
.second,
.third {
    color: #fff;
    text-shadow: 0 0 5px #00d9e4,
                0 0 25px #00d9e4,
                0 0 50px #00d9e4,
                0 0 100px #00d9e4;
}

.first {
    top:  35%;
    animation-delay: 0s, 0s;  
}
.second {
    top: 44%;
    animation-delay: 0s, 1s;
}
.third {
    top: 52%;
    animation-delay: 0s, 1.6s;
}