body {
    background-color: rgb(248, 241, 251);
}

html, body { overflow-x: hidden; }

.navbar {
    
    background: linear-gradient(90deg, rgba(29,27,27,1) 0%, rgba(87,75,89,1) 30%, rgba(20,18,18,0.9542191876750701) 98%);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item {
    color: white;
}


.logo {
    height: 3rem;
}


/* ////////////about me */

.main {
    margin-top: 20%;
    
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(169, 168, 238, 0.383) 0%, rgba(255, 255, 255, 0.301) 30%, rgba(106, 108, 253, 0.301) 98%);   
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.face {
    border-radius: 50%;
}


/* ////////////contacts */

.contacts-wrapper {
    margin-top: 10%;
}

.contacts-heading {
   height: 10vh;
}

/* ////////////////My work */


.cardholder {
    margin-top: 8%;
    
}

.card {
    width: 30%;
    height: 40vh;
   
   
}

.card1,
.card2,
.card3 {
    background-size: cover;
}


.card1{
    background-image: url(./img/prework.png);
}

.card2 {
  background-image: url(./img/coderefactor.jpg);
}





@media (max-width: 750px) { 
  .cardholder {
      flex-direction: column;
      align-items: center;   
  }

  .card {
      width: 75%;
      margin-top: 1.5rem;
      height: 60vh;
  }
 }